.additem_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  margin: 20px;
}

/* button style */
.btnAdd {
  width: calc(var(--size) * 18);
  height: calc(var(--size) * 2);
  background-color: rgb(55, 62, 207);
  font-family: "JetBrains", monospace;
  font-size: 20px;
}
